.container {
  height: auto;
  min-height: 80vh;
  padding: 15px;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.rounded {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.mobile-cart {
  visibility: hidden;
  display: none;
}

.open {
  margin-left: 260px;
}

.main {
  width: 80%;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
  }
  .desktop-cart {
    visibility: hidden;
    display: none;
  }

  .mobile-cart {
    visibility: visible;
    display: block;
  }
}
