.container {
  padding-top: 55px;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.container h2 {
  margin: 0px 5%;
}

@media (max-width: 600px) {
  .container {
    margin: 0% 0px;
    width: auto;
  }

  .container h2 {
    margin: 0px 0%;
  }

  .wrapper {
    width: auto;
  }
}
