.container {
  margin: 2% 0px;
}

.wrapper {
  width: 80vw;
  margin: auto;
}

.container h2 {
  margin: 0px 5%;
}

@media (max-width: 600px) {
  .container {
    margin: 0% 0px;
  }

  .container h2 {
    margin: 0px 0%;
  }

  .wrapper {
    width: 100%;
  }
}
