.grid {
  border: 1px solid #ccc;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.number {
  width: 60px;
}
