.container {
  min-height: 80vh;
}

.filterBtn {
  position: sticky;
  top: 150px;
  left: 120px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    padding-top: 200px;
  }

  .filterBtn {
    top: 200px;
    left: 20px;
  }
}
