.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  width: 95%;
  margin: auto;
  /* border: 2px solid red; */
}

.main {
  width: 100%;
  max-width: 360px;
  margin: auto;
  border-radius: 15px;
  border: 1px solid #eccbdc;
}
